.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid lightgray;
  position: relative;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: black;
  color: white;
  padding: 0 10px 0 10px;
  height: 40px;
}

.sidebar-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 0 10px;
  border-bottom: 1px solid lightgray;
}

.sidebar-options-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.sidebar-options-items:nth-child(2) {
  border-bottom: 3px solid black;
}

.sidebar-options-items span {
  font-size: 12px;
}

.sidebar-items {
  padding: 0 10px 0 10px;
  position: relative;
}

.sidebar-items-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.sidebar-item span {
  font-size: 14px;
}

.sidebar-item-icons {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.color-picker {
  height: 25px;
  width: 25px;
  border-left: 1px solid gray;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidebar-input-select {
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  cursor: pointer;
  font-family: inherit;
}

.sidebar-footer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 12px;
  font-weight: bold;
}

.sidebar-footer p {
  height: 5px;
  width: 5px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}

.sidebar-footer p > span {
  position: absolute;
  top: 1px;
  left: 3.5px;
}

.sidebar-pop-up {
  background-color: white;
  position: absolute;
  top: 0;
  transform: translateY(150px);
  box-shadow: -2px -2px 8px 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.sidebar-pop-up-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  position: absolute;
  top: -10px;
  right: 8px;
}

.sidebar-pop-up-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.sidebar-pop-up-header-btns button {
  margin-left: 10px;
  background-color: white;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 14px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}

.sidebar-pop-up-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 15px;
  font-size: 14px;
}

.sidebar-pop-up-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 55px;
}

.sidebar-pop-up-item select {
  width: 100px;
}

.sidebar-pop-up-item input,
select {
  font-family: inherit;
  outline: none;
  border: 1px solid gray;
}

.sidebar-pop-up-item-tag {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-pop-up-item-tag-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-pop-up-item-select {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-pop-up-item-select-label {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: flex-end;
}

.sidebar-pop-up-item-select input {
  width: 50px;
  align-self: flex-end;
}

.sidebar-pop-up-item input[type="range"] {
  all: unset;
  background-color: lightgray;
  height: 5px;
  border-radius: 5px;
}

.sidebar-collapse-arrow {
  padding: 15px 5px;
  position: absolute;
  right: -20px;
  transform: translateY(50vh);
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
